body {
  display: block;
  position: relative;
  width: 100%;
  background: #e5e8ed;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #282b30;
}

.content {
  display: block;
  position: relative;
  width: 100%;
  max-width: 984px;
  overflow: hidden;
  border-radius: 6px;
  background: #ffffff;
  padding: 32px 20px;
  margin: 0 auto 20px auto;
}

h1,
h2,
h3,
h4,
.title {
  display: block;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #4da533;
}

h1,
.title.general {
  text-transform: uppercase;
}

h2,
.title.high {
  display: flex;
  align-items: center;
}

h3,
title.medium {
  font-size: 15px;
  line-height: 22px;
  text-align: left;
}

article > *,
.article > *,
.desk > * {
  margin-top: 20px;
}

article > *:first-child,
.article > *:first-child,
.desk > *:first-child {
  margin-top: 0 !important;
}

article > h2,
.article > h2,
.desk > h2 {
  margin-top: 32px;
}

article > h3,
.article > h3,
.desk > h3 {
  margin-top: 16px;
}

.button {
  
  position: relative;

  min-width: 200px;
  height: 46px;
  border-radius: 32px;
  background: #ec622b;
  overflow: hidden;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  padding: 12px 24px;
  margin: 0 auto;

  transition: all 0.5s;
}

.button:hover {
  background: #4da533;
}


.header,
.main ,.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
 
  max-width: 1600px;
  max-width: 100%;
  
  margin: 0 auto;
}

.background{
  display: block;
  position: absolute;
  bottom: 0;left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background img{
  position: relative;
  width: 100%;height: 100%;object-fit: cover;
  border-radius: 6px;
}

.images img{
  border-radius: 6px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* -------------------HEADER---------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background: #0D1D34;
  
}

.header__content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  max-height: 80px;
  border-radius: 0;
  background: #0d1d34;
  padding: 16px 48px;
  margin: 0 auto;
}

.logo {
  display: block;
  position: relative;
  max-width: 100px;
  margin-right: auto;
}

.logo img {
  display: block;
  position: relative;
  width: auto;
  max-height: 48px;
}

/* .header__wrap-nav,
.header__wrap-btn {
  display: flex;
  
} */

.header__app {
  display: flex;
  justify-content: center;
  flex: 0 1 auto;

  max-width: 204px;
  max-height: 48px;
  border-radius: 6px;
  background: #1a3769;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  padding: 13px 24px;
  margin-right: 24px;
  transition: all 0.5s;
}

.header__app:hover {
  background: #194085;
  transform: scale(1.1);
}

.header__app span {
  display: flex;
  align-items: center;
}
.header__app img {
  display: block;
  
  width: 24px;
}

.header__app span:not(:last-child) {
  margin-right: 10px;
}

.header__menu {
  display: flex;
  white-space: nowrap;
}

/* .header__wrap-nav .header__button {
  display: none;
} */

.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex: 1 1 auto;
}
.header__menu-list li {
  display: block;
  padding: 8px 12px;
}

.header__menu-list li a {
  display: inline-flex;
  position: relative;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  /* color:#647385; */
  color: #ffffff;
  background-color: transparent;
 
  transition: all 0.5s;
  opacity: 0.6;
 
}

.header__menu-list a:hover {
  color: #ffffff;
  opacity: 1;
}

.menu a{
  display: none;
}

.menu ul li:not(:last-child) {
  margin-right: 16px;
}

span {
  display: inline-block;
}

.header__menu-list a img,
.header__flag img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.header__menu-list a span:last-child {
  margin-left: 16px;
}

.header__flag span:first-child {
  flex: 0 1 24px;
  /* flex: 0 1 auto; */
}

.header__flag span:last-child {
  text-transform: uppercase;
  color: #647385;
}

.header__flag span:not(:last-child) {
  margin-right: 8px;
}

.header__flag {
  margin-right: 16px;
  margin-left: auto;
}

.button__login {
  background: #4da533;
  margin-right: 12px;
  /* margin: auto 12px auto auto; */
  margin: auto 12px auto 0;
}
.button__singup {
  margin: auto 12px auto 0;
}

.button__login, .button__singup{
  min-width: 100px;
}

.button__login:hover {
  background: #ec622b;
}

.header__btn-menu{
  display: block;
  flex: 0 1 auto;
  min-width: 0;
  
  background:#0D1D34;
  padding: 15px;
  margin-left: 15px;
  order: 3;
  
}


svg {
  position: relative;
  fill: #ffffff;
  line-height: 1;
  vertical-align: 1;
}

 

 


/* ------------------ MAIN------------- */
.main.home{
  display: flex;
  margin-bottom: 70px;
}

.main__wrap {
  display: flex;
  position: relative;
  flex: 1 1 100%;
  justify-content: center;
  align-items: stretch;

 
  max-width: 1600px;
  
  padding: 20px 48px;
  margin: 0 auto;
}



/*--------------------MAIN__SIDEBAR-------------- */
/* .main__sidebar-left,
.main__sidebar-right {
  position: relative;
  align-self: stretch;
 
  flex: 0 0 240px;
  
} */

.sidebar {
  position: relative;
  align-self: stretch;
 
  flex: 0 0 240px;
  
}

/* .main-left__wrapper,.main__sidebar-wrapper {
  position: relative;

  position: sticky;
  top: 100px;
  bottom: 20px;
  height: calc(100vh - 80px);
 
  overflow: auto;

  
  margin-bottom: 20px;
} */

.sidebar {
  /* position: relative; */
  /* position: relative; */
  align-self: stretch;
  position: sticky;
  flex: 0 0 240px;
 
  top: 100px;
  bottom: 20px;
  height: calc(100vh - 80px);
 
  overflow: auto;

  
}

.sidebar-left__quik,
.sidebar-left__review,.sidebar-right__desk {
  overflow: hidden;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.sidebar-left__quik{
  margin-bottom: 20px;
}



.menu__links-desk,
.menu__review-desk,.menu__cards {
  background: #0d1d34;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  
  padding: 8px 16px;
}
.menu__links li,
.menu__review li {
  position: relative;
  border-bottom: 1px solid #dbdfe5;
  padding: 8px 16px;
  
}

.menu__links li a,
.menu__review li a {
  color: #282b30;
}

.menu__links li a img {
  vertical-align: middle;
  margin-right: 8px;
}



.sidebar__review {
  margin-top: 20px;
  
}

.menu__review-desk::after {
  content: "";
  position: absolute;
  right: 19px;
  width: 20px;
  height: 20px;
  background: url(../images/left-menu/closes.svg) center center / contain;
}


.menu__review-desk.active::after {
  
   background: url(../images/left-menu/close.svg) center center / contain;
}

.menu-review__content{
  display: none;
}

.menu__review{
  display: none;

}

.menu__review li a {
  padding-left:8px ;
  position: relative;
  white-space: nowrap;
}


.menu__review li a:hover{
  color: #EC622B;
  font-weight: 700;
  padding-left: 10px;
  
}

.menu__review li a:hover::before{
  content: "";
  position: absolute;
  display: block;
  
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  
  width: 8px;height: 8px;
  background: url(../images/left-menu/condition-point.svg) no-repeat center center / contain;
  transition: all 0.5s;
 
}




.menu__review.active{
  display: block;
}



.content__wrapper {
  margin: 0 10px;

  flex: 0 1 calc(100% - 240px * 2 - 10px * 2);
}

/* -----------hero ----------- */
.content__wrapper{
  position: relative;
    top: 80px;
  margin-left: 20px;
  margin-right: 20px;  

}

.hero{
  padding: 0;
  
}

.hero__wrapper {
 
  display: flex;
  align-items: center;
}

/* .hero__background{
  position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
} */

/* .hero__background img,.banner__backgroud img{
  border-radius: 6px;
  object-fit: cover;
   
    width: 100%;
    height: 100%;
    
} */

.hero__data{
display: block;
  position: relative;
  
    max-width: 480px;
    
  padding: 70px 0 70px 20px ;  
}

.hero__title{
  margin-bottom: 16px;
  text-align: start;
  
}

.hero__title > *:first-child {
  color: #ffffff;}
.hero__title > *:last-child {
    color: #E7FE55;}

.hero__rating {
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
  color:#ffffff;
  margin-bottom: 16px;
}

.hero__rating p{
 margin-right: 10px;
}
.hero__button{
  display: inline-block;
  max-width: max-content;
  
  
}

.hero__img{
  flex: 1 1 570px;

}

.hero__img img{
  display: block;
    position: relative;
    margin: auto;
}
/* ---------------menu-review__content------------ */



/* --------------------features----------- */
.features{
  position: relative;
  background: transparent;
  display: flex;
  padding: 0;
  margin-bottom: 20px;

  
}

.features__title{
  font-size: 15px;
  margin-bottom: 16px;
}
.content__info{
  width: 100%;
  border-radius: 6px ;
  background: #ffffff;
  padding: 32px 20px;
  
}

.content__info:first-child{
  margin-right: 20px;
}

/* .features table{
  width: 100%;
} */

 table{
  width: 100%;
}

/* .features__table tr{ */
table tr{  
  display: flex;
  border-bottom: 1px solid #4da533;
  padding: 10px 20px;

}

/* .features__table tr + tr{
  margin-top: 4px;
} */

table tr + tr{
  margin-top: 4px;
}

/* .features__table td:first-child {
  width: 50%;
   font-weight: 700;
} */

table td:first-child {
  width: 50%;
   font-weight: 700;
}

/* .features__table td:last-child {
  width: 50%;
  
} */

table td:last-child {
  width: 50%;
  
}

/* .features__list tr {
  display: flex;
  align-items: center;
 
  

}

.features__list tr + tr {
  margin-top: 0;
}

.features__list td:first-child {
  flex: 0 1 52px;
}

.features__list td:last-child {
  flex: 0 1 calc(100% - 52px);
} */

.features__table tr {
  display: flex;
  align-items: center;
 
  

}

.features__table tr + tr {
  margin-top: 0;
}

.features__table td:first-child {
  flex: 0 1 52px;
}

.features__table td:last-child {
  flex: 0 1 calc(100% - 52px);
}

/* -------------banner---------------- */

.banner{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  min-height: 280px;
}
/* .banner__backgroud{
   position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;} */

.banner__backgroud img{
  object-position: 70%;
}

.banner__info{
  display: block;
    position: relative;
    width: 50%;
    max-width: 482px;
    text-align: center;
   
    padding: 49px 0;
    
}    

.title__banner{
  
  flex-direction: column;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 16px;

}

.title__banner > *:first-child {
  color: #ffffff;}
.title__banner > *:last-child {
    color: #E7FE55;}

.button__banner{
  display: inline-block;
  margin-right: 0;
}

    /* ----------------review------------- */

  
    .review {
      display: flex;
      flex-direction: column;
    }
    .review ul li{
      position: relative;
      padding-left: 15px;
      
    }

    .review ul li + li{
      margin-top: 8px;
    }

    .review ul li::before{
      content:'  ';
      position: absolute;
      left: 0;
      top:calc(50% - 1px);
      width: 4px;height: 4px;
      border-radius: 50%;
      background: #282B30;
    }


    .button__bônus{
      margin: 20px auto 0 auto;
    }

    /* ------------sidebar-right----------- */

    .menu__casino{
      display: flex;
      flex-wrap: wrap;
      background: #ffffff;;
      gap:8px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: 8px;
    }


    .main__sidebae-desk div{
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }


    .menu__casino li a{
      border-radius: 6px;
      overflow: hidden;
    }


    .main__sidebar-right{
      margin-bottom: 0;
    }
  /* --------------rating------------------- */
  .ratings, .faq {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ratings ul {
  
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
  
}

.ratings ul li{
  display: flex;
  flex:0 1 calc(50% - 10px);
  
  flex-direction: column;
  border-radius: 6px;
  background: #FAFAFA;
  padding: 16px 20px;
  margin-bottom: 8px;
  
}

.ratings ul li:nth-child(5n){
  margin-bottom: 0;
}
.ratings ul li:nth-child(6n){
  margin-bottom: 0;
}

.ratings ul li p{
  font-weight: 700;
  margin-bottom: 8px;
}

.ratings__wrap{
  display: flex;
  justify-content: space-between;
}

.ratings__wrap span{
  font-weight: 700;
}
.button__ratings{
  margin-left: 0;
  margin-top: 16px;
}
/* ----------faq----------------------- */
.faq__subtitle{
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
  border-radius: 3px;
  background: #0D1D34;
  color: #ffffff;
  padding: 13px 60px 13px 20px;
 
 
}

.faq__item + .faq__item{
  margin-top: 5px;
}

.faq__title{
  margin-bottom: 20px;
}

.faq__subtitle::after{
  content: '';
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 19px;
  height: 32px;
  width: 32px;
  background: url(../images/main/plus.svg) center center / contain;
  
  
}

.faq p{
  padding: 0 20px 8px 20px;
  border-bottom: 1px solid #4DA533;
 
}

.js-expand-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq__subtitle.active{
  
  background: #ffffff;
  color: #282B30;
}

.faq__subtitle.active::after{
  width: 32px;
  height: 32px;
  background: url(../images/main/minus.svg) center center / contain;
  
}


/* ------------footer----------------- */
.footer{
   display: flex;
  position: relative;
 
  background: #ffffff;
    color: #7F7F7F;
  
    margin-top: 20px;
}

.footer__content{
  
  padding: 30px 10px;
  background: transparent;
  
  
}
.footer__menu{
  display: flex;
  justify-content:space-evenly;;
  padding: 32px 16px;
  border-bottom: 1px solid #A5A9B1;
}

.footer__menu div{
  font-weight: 700;
  text-transform: uppercase;
}
.footer__info a{
  
  color: inherit;

}

.footer__cards{
  border-bottom: 1px solid #A5A9B1;
  margin-bottom: 16px;
}

.footer__cards ul {
  display: flex;
  align-content: center;
    justify-content: center;
    align-items: center;
  flex-wrap: wrap;
  padding: 24px 74px;
}

.footer__cards-list li{
  margin-left: 24px;
  margin-top: 24px;
}

.footer__cards-list li img {
  width: 100%;
  height: auto;
  display: block;
}

.footer__text{
  margin-right: 24px;
}

.footer__text p{
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.footer__text p + p {
  margin-top: 16px;
}

.footer__wrapp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}



.footer__age img{
 max-width: 40px;
 max-height: 40px;
}

.footer__information{
  display: flex;
  justify-content: center;
}

.footer__information li + li{
  margin-left: 24px;
}

.footer__arrow {
  display: inline-block;
  position: fixed;
 
  width: 42px;
  height: 42px;
  right: 20px;
  bottom: 20px ;
  background: url(../images/footer/Vector.svg) no-repeat center center / contain;
  
  z-index: 100;

  
}
