

@media screen and (max-width: 480px) {
  .content {
    
    margin-left: 0;
    margin-right: 0;
  }}





  /* ----------------header------------------- */


  
   
 @media screen and (max-width: 1340px){
 .header__logo{
    margin-right: 25px;
 }

 .header__wrap-nav{
   margin-right: auto;
 }

    .header__app  span:nth-child(3n) {
        display: none;
    }
} 



 @media screen and (max-width: 1281px) {

 

    .header__btn-menu.active {
      background: #0D1D34;
    }
  }
  
  @media screen and (min-width: 1281px) {
    .header__btn-menu {
      display: none;
    }
  }

  @media screen and (max-width: 1281px) {
    .header__btn-menu svg {
      display: block;
      margin: 0;
    }
  }
  
  @media screen and (max-width: 1281px) {
    .header__btn-menu svg rect {
      transform-origin: 50% 50%;
      transition: all 0.5s;
    }
  }
  
  @media screen and (max-width: 1281px) {
    .header__btn-menu.active svg rect:nth-child(1) {
      x: -2px;
      y: 6px;
      width: 20px;
      transform: rotate(225deg);
    }
  
    .header__btn-menu.active svg rect:nth-child(3) {
      opacity: 0;
    }
  
    .header__btn-menu.active svg rect:nth-child(2) {
      x: -2px;
      y: 6px;
      width: 20px;
      transform: rotate(135deg);
    }
  }
  
 
  
  @media screen and (max-width: 1281px) {
    .header__menu {
      display: none;
      position: fixed; 
      top: 70px; 
      left: 0;
      width: 100%; 
      height: 0;
      overflow: hidden; 
      background: #0d1d34;
      text-align: center;
      z-index: 100; 
      transition: height 0.5s ease, opacity 0.5s ease;
      opacity: 0; 
      padding: 50px;
    }
  
    .header__menu.active {
      display: block; 
      height: 100vh; 
      opacity: 1; 
    }
  
    
  
    .header {
      z-index: 101; 
    }
  }
  





  
  @media screen and (max-width: 1281px) {
    .header__menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
      
    }

    .header__menu ul li{
      font-size: 28px;
      
    }

    .header__menu ul li + li{
      margin-top: 10px;
    }

    .menu ul li:not(:last-child) {
      margin-right: 0;
      
    }


} 

@media screen and (max-width: 749px) {
    .button__login{
        display: none;
    }

   

    .header__button-menu > .button__login-menu{
      display: inline-block;
      background: #4DA533;
      margin: 0;
  }

  .button__login-menu:hover{
    background: #ec622b;
  }

    .menu .button__singup{
       display: none;
    }

    
     .header__button {
      display: block;
      
    }


}

@media screen and (max-width: 664px) {
    .button__singup{
        display: none;
    }

    .header__content{
        padding: 15px;
    }
    .menu .button__singup{
        display: inline-block;
        margin: 0;
        margin-left: 10px;
     }

     .banner__info{
      width: 45%;
      background: rgba(13, 29, 52, 0.7);
     }

    
    .header__menu .header__button-menu{
      display: flex;
          flex-direction: column;
          
          justify-content: center;
          align-items: center;
    }



    .header__menu .button__menu {
      display: inline-block;
      margin-top: 20px;
      
    }


     
}

@media screen and (max-width: 468px) {
    .header__flag span:last-child {
        display: none;
    }
   
    .header__flag{
      margin-right: 0;
    }
    
}

@media screen and (max-width: 1440px) {
    .sidebar-left{
        display: none;
    }


    
   
   

} 

@media screen and (max-width: 1440px) {
  .menu-review__content{
    display: block;
    padding: 0;
    border-radius: 6px;
   }

   
   .menu-review-desk{
     padding: 16px;
   } 
   
  
  .menu-review__content > .menu-review__list.active {
    display: block ;
  }
}

/* -----------------main--------- */

@media screen and (max-width: 1440px) {

  .main__wrap{
    padding: 20px 10px 10px 10px;
  }

    .content__wrapper  {
        flex: 0 1 calc(100% - 240px - 10px);
        margin: auto 20px 0 0
       
    }

     .content__wrapper .content{
      max-width: 100%;
        margin-left: 0;
        margin-right: 0;
       } 
}

@media screen and (max-width:1100px) {
    

    .content__wrapper {
        flex: 1 1 100%;
        margin-right: 0;
        max-width: 100%;
       } 
}






/* -----------features---------------- */

@media screen and (max-width:1189px) {
    table td:first-child {
        width: 60%;
         font-weight: 700;
      }
      
      table td:last-child {
        width: 40%;
 
      }

      .features__table td:first-child {
        flex: 0 1 32px;
      }
      
      .features__table td:last-child {
        flex: 0 1 calc(100% - 32px);
        white-space: nowrap;
      }

      table tr{
        padding: 10px;
      }

      .ratings__list li{
        padding: 16px;
      }

      .ratings__list img {
        width: 18px;
        height: 18px;
      }

}

@media screen and (max-width:1100px) {
    .sidebar-right{
        display: none;
    }

    .features__table td:first-child {
        flex: 0 1 52px;
      }
      
      .features__table td:last-child {
        flex: 0 1 calc(100% - 52px);
      }

      .ratings__list img {
        width: 24px;
        height: 24px;
      }
}

@media screen and (max-width:800px) {
  .ratings__list img {
    width: 20px;
    height: 20px;
  }

  .features{
    display: block;
  }

  .features__info:first-child{
    margin-bottom: 20px;
  }


  .features__table td:first-child {
    flex: 0 1 72px;
  }
  
  .features__table td:last-child {
    flex: 0 1 calc(100% - 72px);
  }

  .banner__title{
    font-size: 28px;
  }
}

@media screen and (max-width:750px) {
  /* .main{
    padding: 0;
  } */
  .ratings__list {
    /* display: block; */
    flex-direction: column;

  }

  .ratings__list li:not(:last-child){
    margin-bottom: 8px;
  }

  .ratings__list img{
    width: 24px;height: 24px;
  }

  .ratings__button{
    margin-left: auto;
  }

  .hero__title{
    font-size: 28px;
  }

  .banner__title{
    font-size: 24px;
  }

  .review__title, .ratings__title, .faq__title{
    font-size: 28px;
  }
}

@media screen and (max-width:600px) {
  .review__title, .ratings__title, .faq__title{
    font-size: 24px;
    line-height: 32px;
    white-space: wrap;
  }
  .hero__title{
    font-size: 24px;
  }

  .banner__backgroud img{
    object-position: 80%;
  }

  .banner__info{
    width: 100%;
  }
}

@media screen and (max-width:480px) {
  .hero__wrapper{
    position: relative;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    
  }

  .hero__img{
    position: absolute;
    opacity: 0.5;
    
  }

  
  .ratings__list img {
    width: 16px;
    height: 16px;
  }

  .hero__title{
    
    
    z-index: 1;
  }

  .hero__button{
    
    z-index: 1;
    
  }

 

 

  .features__table td:first-child {
    flex: 0 1 45px;
  }
  
  .features__table td:last-child {
    flex: 0 1 calc(100% - 45px);
    word-wrap: break-word; 
    white-space: normal;
    
    
  }

  
} 

@media screen and (max-width:370px) {
   .hero__title{
    font-size: 20px;
   }

   .header__app  {
    display: none;
}

   .hero__data{
    padding-right: 10px;
   }

   table td:first-child {
    width: 70%;
    font-size: 14px;
     font-weight: 500;
  }
  
  table td:last-child {
    width: 30%;
    font-size: 14px;
  }

  .banner__backgroud img{
    object-position: 75%;
  }

  .ratings__list img{
    width: 13px;height: 13px;
    
  }

  .ratings__wrap{white-space: nowrap;}
}

@media screen and (max-width:340px) {
  .ratings__wrap img{
    width: 11.5px;height: 11.5px;
    
  }

  .ratings__wrap span{
    font-weight: 500;
    font-size: 14px;
  }

   
}


@media screen and (max-width:480px) {
  .footer__menu{
    justify-content: space-between;
    
  }

  .footer__information{
    display: flex;
    flex-wrap: wrap;
  }

  .footer__information li {
    margin-left: 24px;
    margin-top: 24px;
  }
  
}

@media screen and (max-width:440px) {
  .footer__menu{
    display: block;
    text-align: center;
  }

  .footer__menu li{ 
    text-align: center;
    
  }

  .footer__menu > li:not(:last-child){ 
    margin-bottom: 16px;
    
  }
}